<header>
    <nav class="nav">
        <div style="margin-top:1.5rem; margin-left: 1rem; margin-bottom:1.5rem">
            <img src="/images/logo/geeky.png" style="width:150px;" alt="Logo de Geeky">
        </div>
        {{#if user}}
        <div style="margin-top:1.5rem; margin-left: 1rem; margin-bottom:1.5rem">
            <a href="/admin/logout">Logout</a>
        </div>
        {{/if}}
    </nav>
    <nav class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/proyecto">Proyecto</a></li>
            <li><a href="/admin/equipo">Equipo</a></li>
            <li class="active"><a href="/admin/clientes">Clientes</a></li>
            <li><a href="/admin/pedidos">Pedidos</a></li>
        </ul>
    </nav>
</header>