<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      body {
        background-color: gray;
      }
    </style>
</head>
<body>
  <h2>¡Hola!</h2>
  <p>¡Gracias por registrarte en nuestra página! Para poder comprar en nuestra tienda online aún necesitas confirmar tu email. Una vez lo hayas hecho, no solamente podrás ver nuestros artículos, sino que también podrás hacerte con los que más te gusten.</p>
  <p>Para confirmar tu email, basta con que pulses en el botón.</p>
  <button><a href="http://localhost:8080/usuario/registro/{{ user }}">Confirmar email</a></button>
</body>
</html>