<main>
    <section class="home">
        <div class="home-header">
            <h3>Admin E-Commerce</h3>
        </div>
        <div class="home-text">
            <img class="home-img" src="/images/logo/geeky.png" alt="Logo Geeky" title="Logo de Geeky">
        </div>
        <div class="home-text">
            <p>Este es la plataforma de administraci칩n del Ecommerce <b>Geeky</b></p>
        </div>
        <div class="home-text">
            <p>Para iniciar sesi칩n, introduce tu usuario y contrase침a en la <a href="/admin">p치gina de Login</a></p>
        </div>
    </section>
</main>