<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      body {
        background-color: gray;
      }
    </style>
</head>
<body>
  <h2>¡Hola!</h2>
  <p>Hemos recibido tu solicitud para el cambio de contraseña. Si no has sido tú, olvida este email, pero si quieres cambiar tu contraseña, basta con que pulses en el siguiente botón:</p>
  <button><a href="http://localhost:8080/password/{{id}}">Cambiar contraseña</a></button>
</body>
</html>