<header>
    <nav class="nav">
        <div style="margin-top:1.5rem; margin-left: 1rem; margin-bottom:1.5rem">
            <img src="/images/logo/geeky.png" style="width:150px;" alt="Logo de Geeky">
        </div>
    </nav>
    <nav class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/proyecto">Proyecto</a></li>
            <li><a href="/admin/equipo">Equipo</a></li>
            <li class="active"><a href="/admin/clientes">Clientes</a></li>
            <li><a href="/admin/pedidos">Pedidos</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="container">
        <div>
            <h1 class="text-center">Clientes</h1>
        </div>
        <div class="clients-list">
        </div>
    </section>
    <section class="container search-console">
        <div class="row">
            <div class="col-12">
                <form action="" class="search-form" id="search-console">
                    <div class="form-group has-feedback">
            		    <label for="search" class="sr-only">Buscar</label>
            		    <input type="text" class="form-control" name="search" id="search" placeholder="Buscar">
              		    <span class="glyphicon glyphicon-search form-control-feedback"></span>
            	    </div>
                </form>
            </div>
        </div>
    </section>
</main>