{{> header }}
<main>
  <section class="container">
    <div>
      <h1 class="text-center">Clientes</h1>
    </div>
    <div class="clients-list">
    </div>
  </section>
  <section class="container search-console">
    <div class="row">
      <div class="col-12">
        <form action="" class="search-form" id="search-console">
          <div class="form-group has-feedback">
            <label for="search" class="sr-only">Buscar</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="Buscar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>