{{> header }}
<main>
  <h1 class="text-center">Clientes</h1>
  <section class="container">
    <div class="clients-list">
    </div>
  </section>

  <!-- Search Input -->
  <section class="search-box">
    <i class="fas fa-search"></i>
    <input type="text" class="search-console" id="search" placeholder="Buscar" autocomplete="off">
  </section>
</main>