{{> header }}
<main>
  <h1 class="text-center">Clientes</h1>
  <section class="container">
    <div class="clients-list">
    </div>
  </section>
  <section class="container">
    <input type="text" class="form-control row search-console" id="search" placeholder="Buscar">
  </section>
</main>