<article>
    <section class="notfound">
        <div>
            <h2>Página no encontrada</h2>
        </div>
        <div>
            <p>Lo sentimos, pero la página a la que estás intentado acceder no existe</p>
        </div>
        <div>
            <p>¿Por qué no pruebas suerte buscando desde la <a href="/">home</a>?</p>
        </div>
        <div>
            <img src="/images/logo/geeky.png" alt="Logo de Geeky" title="Logo de Geeky">
        </div>

    </section>
</article>
