{{> header}}
<main>
  <h1 class="text-center">Pedidos</h1>
  <section class="container">
        <div>
            
        </div>
        <div class="orders-list">
        </div>
  </section>
  <section class="container">
    <input type="text" class="form-control row search-console" id="search" placeholder="Buscar">
  </section>
</main>