<form action="/admin/productos" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="titulo">Título</label>
                <input type="text" class="form-control"  value="{{product.title}}" name="title" placeholder="Titulo o nombre del producto">
            </div>
            <div>{{product.title}}</div>
            <div class="form-group col-md-6">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" name="description" placeholder="Descripción del producto">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="detalles">Detalles técnicos</label>
                <input type="text" class="form-control" name="features" placeholder="Detalles técnicos">
            </div>
            <div class="form-group col-md-6">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" name="price" placeholder="Precio por unidad">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="categoria">Categoría</label>
                <select class="form-control" name="category">
                    <option>accesorios</option>
                    <option>camisetas</option>
                    <option>games</option>
                    <option>tazas</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="unidades">Unidades disponibles</label>
                <input type="number" class="form-control" name="quantity" placeholder="Cantidad de unidades disponibles">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="imagenes">Archivos de imagenes</label>
                <input type="file" class="form-control-file" name="images" multiple>
            </div>
            <div>
                <label><input type="checkbox" name="featured" value="true"> Destacado</label><br>
            </div>
            <div class="form-group col-md-6">
                <input type="submit" class="form-control" value="Guardar">
            </div>
        </div>
    </div>
</form>
<div> {{product}}</div>

<div class="product-list">

</div>


