{{> header}}
<main>
  <h1 class="text-center">Proyecto</h1>
  <form method="POST" class="form-project" action="http://localhost:8081/admin/editor/proyecto">
    <textarea name="content" id="mytextarea"></textarea>
    <input class="btn btn-primary save" type="submit" value="Guardar">
  </form>
  <div class="content-project" name="showContent" id="showContent">
  </div>
{{> tinyMCE}}
</main>
