{{> header}}

<script src="https://cdn.tiny.cloud/1/5b5739x2w4gobdoyn0jeaw9el0ny49ulnal4biswz6t4eyun/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <div style="width: 400px;">
        <form method="POST" action="http://localhost:8081/admin/editor/equipo">
            <textarea style="width: 200px;" name="content" id="mytextarea"></textarea>
            <input class="btn btn-primary save" type="submit" value="Guardar">
        </form>
    </div>
    <div name="showContent" id="showContent"></div>

{{> tinyMCE}}