{{> header}}
<main>
  <h1 class="text-center">Equipo</h1>
  <form method="POST" class="container  content-form" action="http://localhost:8081/admin/editor/equipo">
    <div class="form-row">
      <div class="form-group col-md-12">
        <textarea name="content" id="mytextarea"></textarea>
        <input class="btn btn-primary save" type="submit" value="Guardar">
      </div>
    </div>
  </form>
  <div class="container content-form">
    <div class="row">
      <div name="showContent" id="showContent"></div>
    </div>
  </div>
  {{> tinyMCE}}
</main>
