<header>
    <nav class="nav">
        <div style="margin-top:1.5rem; margin-left: 1rem; margin-bottom:1.5rem">
            <img src="/images/logo/geeky.png" style="width:150px;" alt="Logo de Geeky">
        </div>
    </nav>
    <nav class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/proyecto">Proyecto</a></li>
            <li class="active"><a href="/admin/equipo">Equipo</a></li>
            <li><a href="/admin/clientes">Clientes</a></li>
            <li><a href="/admin/pedidos">Pedidos</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="container">
        <div>
            <h1 class="text-center">El equipo</h1>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet optio necessitatibus blanditiis quasi unde aliquam, sint tempore enim nesciunt a assumenda adipisci eius magni quae quaerat repellat similique est qui?</h1>
        </div>
    </section>

</main>