@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 3px 5px 10px rgb(218, 216, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

header>img {
  max-width: 10%;
}

.user-menu {
  width: 6%;
  display: flex;
  justify-content: space-between;
}

.user-menu a, .user-menu img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color:white;
  width: 45%;
}

.user-menu a {
  border-radius: 50%;
  background-color: #3CA29A;
}

.mainnav {
  color: white;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(238, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainnav div {
  color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

.mainnav a {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.mainnav i {
  margin-right: 10px;
}

.mainnav p {
  margin: 0;
  padding: 0;
}

.mainnav .pedidos {
  background-color: #3CA29A;
}

main {
  width: 85%;
  padding: 100px 50px;
  position: absolute;
  top:0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Form Product */
.form-product {
  width: 90%;
  background-color: #c5c5c5;
  padding: 30px 15px;
  border-radius: 15px;
}

.form-product input[value='Nuevo Producto'], .form-product input[value='Actualizar'] {
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #3CA29A;
}

.photo {
  position: relative;
}

.photo-icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 5px;
  right: 20px;
}

/* Search Console */
.search-box {
  width: 80%;
  margin: 50px auto;
  padding: 5px 20px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 30px;
  box-shadow: 3px 5px 10px rgb(196, 193, 193);
}

.search-console {
  width: 90%;
  border: none;
  margin-left: 10px;
}

.search-console:focus {
  outline: none;
}

/* Product Card */
.product-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 23%
}

.card-title {
  font-weight: 700;
}